/* Reset default styling */
*{
    padding:0;
    margin:0;
}
header{
    background-color: red;
}
main{
    display: flex;
    grid-gap: 2;
    background-color: aqua;
    height: 80vh;
}
.sidebar{
    width: 20%;
    height: auto;
    background-color: greenyellow;
}
.content{
    width: 60%;
    background-color: lightcoral;
}