*{
    /* selector : value; */
    padding: 0;
    margin: 0;
}
/* attribute */
body{
    /* selector: value; */
    padding: 10px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding: 5px;
    margin: 5px;
    text-align: center;
}
h5{
    text-align: center;
    margin-bottom: 5px;
}
/* :horizontal line  */
.line{
    /* selector: x axis y axis */
    display: flex;
    justify-content: center;
}
hr{
    width: 50%;
}
h2{
    text-align: center;
    /* selector: up-down left-right */
    margin: 5px 0;
}
p{
    text-align: justify;
    margin: 0 20%;
}